body {
  margin: 0;
  background-color: #ecf2f8;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

div.article-preview {
  background-color: white;
  margin: 60px 20px;
  border-radius: 10px;
}
div.article-preview h1 {
  margin: 40px 30px 0 30px;
  font-size: 1.2em;
  color: #48556a;
  line-height: 150%;
  letter-spacing: 0.03rem;
}
div.article-preview p.article-summary {
  margin: 10px 30px 0 30px;
  font-size: 1em;
  color: #6d7f97;
  line-height: 150%;
  letter-spacing: 0.02rem;
}

.img-container {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 250px;
}

div.author {
  display: flex;
  margin: 40px 30px 40px 30px;
  padding-bottom: 30px;
}
div.author div.information {
  width: 60%;
  padding-left: 15px;
  padding-top: 5px;
}
div.author div.information p.name {
  font-weight: bold;
  color: #48556a;
  letter-spacing: 0.03rem;
  padding: 0;
  margin: 0;
}
div.author div.information p.date {
  padding: 0;
  margin: 0;
  color: #9eafc2;
}
div.author img.author {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}
div.author .icon-container {
  background-color: #ecf2f8;
  border-radius: 50%;
  width: 46px;
  height: 46px;
}
div.author .icon-container img {
  width: 18px;
  height: 18px;
  margin: 13px;
}

div.share-bar {
  position: absolute;
  top: 452px;
  display: none;
  margin: 40px 0px 40px 0px;
  padding: 25px 25px 25px 0;
  background-color: #48556a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
div.share-bar img {
  margin: 0;
  padding: 0;
  color: white;
  width: 24px;
  height: 24px;
}
div.share-bar p {
  color: #9eafc2;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-top: 5px;
  letter-spacing: 7px;
  font-size: 1.1em;
}
div.share-bar img.logo {
  margin: 0;
  padding: 0;
  margin: 0 10px;
}
div.share-bar .icon-container {
  background-color: #6d7f97;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-left: 30px;
  margin-top: -4px;
}
div.share-bar .icon-container img {
  filter: invert(84%) sepia(100%) saturate(0%) hue-rotate(59deg) brightness(150%) contrast(105%);
  width: 16px;
  height: 16px;
  margin: 7px;
}

@media (min-width: 480px) {
  div.article-preview {
    background-color: white;
    width: 50%;
    margin: 50px auto;
    height: 300px;
    border-radius: 10px;
  }
  div.article-preview h1 {
    margin: 0;
    padding-top: 30px;
    padding-right: 40px;
    font-size: 1.5em;
    color: #48556a;
    line-height: 150%;
    letter-spacing: 0.03rem;
    font-weight: 500;
  }
  div.article-preview p.article-summary {
    margin: 10px 30px 0 30px;
    padding-right: 35px;
    font-size: 1em;
    color: #6d7f97;
    line-height: 150%;
    letter-spacing: 0.03rem;
  }

  .img-container {
    float: left;
    margin: 0;
    margin-right: 40px;
    height: 300px;
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    overflow: hidden;
  }
  .img-container img {
    width: auto;
    height: 100%;
  }

  div.author {
    margin: 20px 30px 40px 30px;
  }
  div.author .icon-container {
    background-color: #ecf2f8;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 40px;
    margin-top: 5px;
  }
  div.author .icon-container img {
    width: 14px;
    height: 14px;
    margin: 8px;
  }

  div.share-bar {
    position: absolute;
    top: 150px;
    right: 290px;
    display: none;
    padding: 15px 0px;
    border-radius: 10px;
    width: 260px;
  }
  div.share-bar .icon-container {
    display: none;
  }
  div.share-bar p {
    font-size: 1em;
    margin-right: 7px;
    margin-top: 3px;
  }
  div.share-bar img {
    margin: 0;
    padding: 0;
    color: white;
    width: 20px;
    height: 20px;
  }
  div.share-bar .down-arrow {
    position: absolute;
    top: 50px;
    left: 115px;
    border-color: #48556a transparent;
    border-style: solid;
    border-width: 15px 15px 0px 15px;
    height: 0px;
    width: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
